<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Virdant Project{% endblock title %}</title>
<link rel="stylesheet" href="{{ style_href }}">
</head>
<body>
{% block content %}{% endblock content %}
</body>
</html>
