p {
    font-family: "Nunito", sans-serif !important;
/*    font-optical-sizing: auto; */
    font-weight: 600;
    font-style: normal;
    font-size: 17px !important;
    line-height: 1.6 !important;
}

code, pre {
    font-family: "Fira Mono", monospace !important;
    font-weight: 100;
    font-style: normal;
    font-size: 17px !important;
}

@media (max-width: 600px) {
    code, pre {
        font-family: "Fira Mono", monospace !important;
        font-weight: 100;
        font-style: normal;
        font-size: 11px !important;
    }
}

.code {
    background: #f8fff8 !important;
    border: 1px solid #aaa !important;
    border-radius: 6px;
    padding: 1px 5px !important;
}

.literal-block-wrapper {
    background: #e9f3d3 !important;
    border: 1px solid #000;
    border-radius: 25px 25px 0 0 !important;
    margin-bottom: 24px !important;
}

.literal-block-wrapper .highlight-virdant {
    margin-bottom: 0 !important;
    border: 0 solid #000 !important;
}

.literal-block-wrapper .highlight-verilog {
    margin-bottom: 0 !important;
    border: 0 solid #000 !important;
}

.highlight-virdant {
    margin-bottom: 24px;
    border: 1px solid #000 !important;
}

.highlight {
    background: #f8f8f8;
}

div.code-block-caption {
    background: #e9f3d3 !important;
    border-radius: 25px 25px 0 0 !important;
    display: flex;
    justify-content: center;
    font-family: "Fira Mono", monospace !important;
    font-weight: 100;
    font-style: normal;
    font-size: 17px !important;
    border-bottom: 1px solid #000 !important;
}

.rst-content code.literal, .rst-content tt.literal {
    color: inherit;
    white-space: nowrap;
}

.wy-side-nav-search a, .wy-nav-top a {
    color: #333 !important;
}

.wy-side-nav-search {
    background-color: #8FC225;
}

@media (min-width: 769px) {
    .wy-side-nav-search img {
        max-width: 70% !important;
        width: auto !important;
        height: auto !important;
        display: block !important;
        margin: 0.809em auto 0.809em auto !important;
        border-radius: 0 !important;
        background: transparent !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px) {
    .wy-side-nav-search img {
        max-width: 50% !important;
    }
    .wy-nav-side.shift {
        width: 50%;
    }
    .wy-nav-content-wrap.shift {
        left: 50%;
    }
    .wy-nav-top {
        padding-bottom: 0 !important;
    }
}

.wy-side-nav-search > a {
    margin-bottom: 0 !important;
}

.wy-side-nav-search input[type=text] {
    width: 100% !important;
    border-radius: 50px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
}

@media (min-width: 769px) {
    .wy-side-nav-search {
        width: 250px !important;
        padding: 0.6em !important;
    }

    .wy-nav-side {
        width: 250px !important;
    }

    .wy-side-scroll {
        width: 270px !important;
    }

    .wy-nav-content-wrap {
        margin-left: 250px !important;
    }
}

.wy-nav-top {
    color: #333 !important;
    background-color: #8FC225;
}

/*********************************************************************************/
/*
    Style the :caption: on a .. code-block:: directive.
*/
/*********************************************************************************/

.caption-text {
    font-style: normal;
}

.rst-content .code-block-caption {
    padding: 0.5em 0.7em;
    border: 1px solid #e1e4e5;
    border-bottom: none;
    background: #d9d9d9;
    text-align: left;
}

.rst-content div {
    margin-top: 0 !important;
}
